<% layout('/layout/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h3>Update Listings</h3>
  <form action="/listings/<%=data._id%>?_method=PATCH" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title :</label>
      <input type="text" placeholder="title" name="listing[title]" id="title" class="form-control" value="<%=data.title%>" required>
      <div class="invalid-feedback">
        Please provide valid title.
      </div>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description :</label>
      <textarea name="listing[description]" id="desc" placeholder="write description here..." rows="5" class="form-control" required><%=data.description%></textarea>
      <div class="invalid-feedback">
        Please provide short discription.
      </div>
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image :</label>
      <input type="url" placeholder="url" name="listing[image][url]" id="img" class="form-control" value="<%=data.image.url%>">
    </div>
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price :</label>
        <input type="number" placeholder="price" name="listing[price]" id="price" class="form-control" value="<%=data.price%>" required>
        <div class="invalid-feedback">
          Please provide valid price.
        </div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location :</label>
        <input type="text" placeholder="location" name="listing[location]" id="location" class="form-control" value="<%=data.location%>" required>
        <div class="invalid-feedback">
          Please provide valid city.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country :</label>
      <input type="text" placeholder="country" name="listing[country]" id="country" class="form-control" value="<%=data.country%>">
    </div>
    <button type="submit" class="btn btn-dark mb-5">Update</button>
  </form>
</body>
</div>
</div>
</body>