<% layout('/layout/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <h3 class="card-title card-show-title mb-4"><%=listing.title%></h3>
        <img src="<%=listing.image.url%>" class="card-img-top" alt="..." style="height: 20rem;">
        <div class="card-body">
          <p class="card-text card-text-show"><i><%=listing.description%></i></p>
          <p class="card-text card-text-show">Price : &#8377; <%=listing.price.toLocaleString("en-IN")%></p>
          <p class="card-text card-text-show">Location : <%=listing.location%></p>
          <p class="card-text card-text-show">Country : <%=listing.country%></p>
          <div class="card-btns">
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark mb-2">Edit</a>
          <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
            <button class="btn btn-dark mb-2">Delete</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
